<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17135219108-o39e3t6kv5kermnesur9tjk881ettgu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17135219108-o39e3t6kv5kermnesur9tjk881ettgu7</string>
	<key>API_KEY</key>
	<string>AIzaSyAJeekNkSKNVgE8wZ2aW9cIwSqs9fJfGSg</string>
	<key>GCM_SENDER_ID</key>
	<string>17135219108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-fd3f3</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-fd3f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17135219108:ios:5389feff598b4bc49a1131</string>
</dict>
</plist>